.App {
  text-align: center;
  padding-top: 36px;
}

.SearchForm-wrapper{
  display: flex;
  justify-content: center;
}

.MoviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item{
  margin-bottom: 24px;
  width: 48%;
}
